html
  -webkit-font-smoothing: antialiased

body
  font-family: 'Open Sans', sans-serif
  font-size: responsive 18px 22px
  font-range: 320px 1280px

p
  margin-bottom: 1.3em

h1
  font-size: responsive 32px 75px
  text-align: center
  font-weight: bold
