html
  -webkit-font-smoothing: antialiased

body
  font-family: 'Open Sans', sans-serif
  font-size: responsive 16px 18px
  font-range: 320px 1280px
  line-height: 1.45
  font-weight: 400

p
  margin-bottom: 1.3em

h1
  font-size: responsive 30px 65px
  // font-size: responsive 30px 34px
  font-range: 320px 1280px
  font-weight: 900
  line-height: 0.9
  color: var(--caneSun)
  text-transform: uppercase
  letter-spacing: -2px

p.contact
  font-weight: 300
  font-size: responsive 14px 22px
