html
  -webkit-font-smoothing: antialiased

body
  font-family: 'Open Sans', sans-serif
  font-size: responsive 14px 30px
  font-range: 320px 1280px

p
  margin-bottom: 1.3em

h1
  font-size: responsive 26px 75px
  text-align: center
  font-weight: bold

p.name
  font-size: responsive 14px 24px
