.logo-container
  display: flex
  justify-content: center
  align-items: flex-start

img.logo
  flex: 0 1 auto
  max-width: 300px
  min-width: 100px


img.photo
  max-width: 500px
  width: 100px

img.sig
  width: 100px


.box
  width: 100%
  background-color: var(--caneMist)
  border-top: 3px solid var(--caneSun)
  display: flex
  flex-flow: row no-wrap
  justify-content: space-between
  align-items: baseline
  padding: 1em

.box img
  width: 100px
