html
  background: var(--caneNavy)
  margin: 0
  padding: 0
  box-sizing: border-box
  height: 100vh

*,
*::before,
*::after
  box-sizing: inherit

body
  margin: 0
  padding: 0
  color: var(--caneSlate)
  height: 100vh

img
  max-width: 100%
  height: auto

a,
a:visited,
a:active
  color: var(--caneSlate)
  text-decoration: none
  border-bottom: 1px solid var(--caneMist)
  transition: 200ms ease-in-out

a:hover
  border-bottom: 3px solid var(--caneSun)
  transition: 200ms ease-in-out
